# Análisis de la subocupación en Argentina 1er trimestre 2021
**Por Violeta Carrera Pereyra** 


## Objetivo
Ponerse tres preguntas
- ZONAS GEOGRAFICAS
- SEXO/NIVEL EDUCATIVO
- TEMPORAL? (´COMO CAMBIO CON PANDEMIA) -- NEC JUNTAR DATASETS PRE PANDEMIA (2017-2021) son 15 datasets en total DUDAS 

## Tabla de contenidos
1. Carga de datos
2. Exploración de datos
3. Limpieza de datos
4. Presentación de datos
5. Conclusiones
6. Referencias

# 1. Carga de datos
Carga de la base (Encuesta Permanente de Hogares del INDEC primer trimestre del 2021) y recorte de las columnas con las que se trabajará.

In [28]:
#Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
#Importar datos
import os 
print(os.getcwd())

C:\Users\User\Documents\GitHub\EPH-subocupaci-n

In [9]:
eph_completa = pd.read_excel("data/usu_individual_T121.xlsx")
eph_completa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46693 entries, 0 to 46692
Columns: 177 entries, CODUSU to PONDIH
dtypes: float64(115), int64(59), object(3)
memory usage: 63.1+ MB

In [12]:
print(list(eph_completa.columns))
type(list(eph_completa.columns))

['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH']

list

In [46]:
#Recorte de la base
eph = eph_completa[["CODUSU", "REGION", "AGLOMERADO", "CH03", "CH04", "CH06", "CH08", "CH09", "NIVEL_ED", "CAT_OCUP", "PP03C", "INTENSI", "PP04D_COD", "PP07A", "P21", "DECOCUR", "P47T", "DECINDR", "ITF", "DECIFR"]]

# 2. Exploración de datos
Vamos a revisar los datos que hemos cargado (arrancar con sample, info, unique. min, max etc). Podemos tmb hacer gráficos

In [47]:
eph.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46693 entries, 0 to 46692
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODUSU      46693 non-null  object
 1   REGION      46693 non-null  int64
 2   AGLOMERADO  46693 non-null  int64
 3   CH03        46693 non-null  int64
 4   CH04        46693 non-null  int64
 5   CH06        46693 non-null  int64
 6   CH08        46693 non-null  int64
 7   CH09        46693 non-null  int64
 8   NIVEL_ED    46693 non-null  int64
 9   CAT_OCUP    46693 non-null  int64
 10  PP03C       19014 non-null  float64
 11  INTENSI     19014 non-null  float64
 12  PP04D_COD   19014 non-null  float64
 13  PP07A       19014 non-null  float64
 14  P21         46693 non-null  int64
 15  DECOCUR     46693 non-null  int64
 16  P47T        46619 non-null  float64
 17  DECINDR     46693 non-null  int64
 18  ITF         46691 non-null  float64
 19  DECIFR      46691 non-null  float64
dtypes: float64(7), int64(12), object(1)
memory usage: 7.1+ MB

In [48]:
eph.sample(5)

,CODUSU,REGION,AGLOMERADO,CH03,CH04,CH06,CH08,CH09,NIVEL_ED,CAT_OCUP,PP03C,INTENSI,PP04D_COD,PP07A,P21,DECOCUR,P47T,DECINDR,ITF,DECIFR
38356,TQRMNOPVTHLLKNCDEIJAH00651470,1,33,3,1,7,1,1,1,0,NaN,NaN,NaN,NaN,0,0,0.0,0,13000.0,1.0
41133,TQRMNOQQRHJMKUCDEIKAH00701629,43,34,1,1,43,4,1,4,0,NaN,NaN,NaN,NaN,0,0,14000.0,2,14000.0,1.0
11900,TQRMNORQWHLMLPCDEGGFB00701499,42,10,2,2,57,1,1,4,0,NaN,NaN,NaN,NaN,0,0,0.0,0,49000.0,4.0
19766,TQRMNORWWHKOKNCDEGNFJ00654213,44,17,3,2,12,4,1,3,0,NaN,NaN,NaN,NaN,0,0,0.0,0,69000.0,6.0
35112,TQRMNOTRUHMOKMCDEHPJB00699740,40,29,3,1,19,1,1,5,0,NaN,NaN,NaN,NaN,0,0,0.0,0,127000.0,9.0

In [62]:
eph["CH03", "CH04", "CH06", "CH08", "CH09", "NIVEL_ED", "CAT_OCUP", "PP03C", "INTENSI", "PP04D_COD", "PP07A", "P21", "DECOCUR", "P47T", "DECINDR", "ITF", "DECIFR"].unique()

array([ 3., nan,  1.,  4.,  2.])

In [ ]:
#PORCENTAJE DE VALORES UNICOS DE CADA COLUMNA

In [59]:
#solamente interesa el máximo y mínimo de las columnas P21, P47T y ITF  (columnas de ingresos)
eph[["P21", "P47T", "ITF"]].max(skipna = True)

P21     530000.0
P47T    819000.0
ITF     819000.0
dtype: float64

In [60]:
eph[["P21", "P47T", "ITF"]].min(skipna = True)
#-9 indica, para estas variables, que la persona no sabe/no responde

P21    -9.0
P47T   -9.0
ITF     0.0
dtype: float64

*nombre de primer set de datos* (hago todo con código)

Conclusión de análisis de ese data set

*nombre de segundo dataset* etc

# 3. Limpieza de datos 
Limpieza de datos (llenar valores nulos -cómo- / poner nombre a valores/recategorizar)
 CODIGO
 CONCLUSIÓN --> NOS QUEDO ASI Y ASA EL DATA SET LIMPIO
 GUARDAR DATASETLIMPIO
 pd.save_csv("data/nombre_nuevo"). Así proxima vez ya puedo trabajar sobre este y no tengo que run all

# 4. Presentación de datos
Vamos a presetar nuestros datos para responder las preguntas definidas en el objetivo del análisis. Poner gráficos y poner qué nos van diciendo

# 5 Conclusiones, qué estaba buscando, qué encontres

# 6 Referencias
links a recursos que utilizamos y que nos sirvieron para análisis